DEBUG=""

# en or he
BOT_LANGUAGE="he"
USER_CACHE_TTL=3600

TWILIO_ACCOUNT_SID=""
TWILIO_AUTH_TOKEN=""
TWILIO_NUMBER=""

SUPABASE_KEY=""
SUPABASE_URL=""
OPENAI_API_KEY=""

GOOGLE_CLIENT_ID=""
GOOGLE_SERVICE_ACCOUNT=""
GOOGLE_SPREADSHEET_ID=""